body {
  background-color: #04052e;
  background-image: url(background.jpg);
  background-size: contain;
  background-position-y: -80px;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 100px;
  padding-bottom: 80px;
  text-align: center;
  width: 1200px;
}

h2 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #ffffff;
  word-spacing: 70px;
  font-size: 24px;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
}

h4 {
  color: #a54657;
  font-size: 32px;
  padding-top: 100px;
  text-align: center;
}

p {
  color: #ffffff;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
}

a {
  color: #ffffff;
  transition: color 0.25s;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 35px;
  text-align: center;
}

a:hover {
  color: #a54657;
}

progress {
  accent-color: #a54657;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 40px;
  text-align: end;
}

.recents {
  p {
    text-align: left;
  }
}

.coding {
  text-align: center;
  width: 50%;
}

.speaking {
  text-align: center;
  width: 50%;
}

.skills {
  ion-icon {
    color: #ffffff;
    font-size: 35px;
  }
  display: flex;
  padding-bottom: 40px;
}

.cv {
  text-align: center;
  text-decoration: none;
  border: solid #ffffff;
  width: 30%;
  margin: auto;
}

.quicklinks {
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .title {
    padding: 0%;
    font-size: 100%;
    width: 100%;
    background-size: 100%;
  }

  h1 {
    font-size: 80%;
    width: 100%;
    padding-bottom: 8%;
  }

  h2 {
    font-size: 100%;
  }

  h3 {
    font-size: 50%;
    word-spacing: 15px;
    padding-top: 0%;
    padding-bottom: 10%;
  }

  h4 {
    padding-top: 10%;
    font-size: 100%;
  }

  p {
    font-size: 100%;
  }

  a {
    font-size: 100%;
  }

  .about {
    padding: 0%;
    font-size: 100%;
    width: 100%;
  }

  .skills {
    display: block;
    width: 100vw;
    text-align: center;
  }

  .coding {
    width: 100%;
    font-size: 100%;
  }

  progress {
    accent-color: #a54657;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    width: 80%;
  }

  .speaking {
    width: 100%;
    font-size: 100%;
  }

  .cv {
    width: 80%;
  }
}

@media only screen and (min-width: 481px) {
  .title {
    padding: 0%;
    font-size: 100%;
    width: 100%;
    background-size: 100%;
  }

  h1 {
    font-size: 80%;
    width: 100%;
    padding-bottom: 8%;
  }

  h2 {
    font-size: 100%;
  }

  h3 {
    font-size: 50%;
    word-spacing: 15px;
    padding-top: 0%;
    padding-bottom: 10%;
  }

  h4 {
    padding-top: 10%;
    font-size: 100%;
  }

  p {
    font-size: 100%;
  }

  a {
    font-size: 100%;
  }

  .about {
    padding: 0%;
    font-size: 100%;
    width: 100%;
  }

  .skills {
    display: block;
    width: 100vw;
    text-align: center;
  }

  .coding {
    width: 100%;
    font-size: 100%;
  }

  progress {
    accent-color: #a54657;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    width: 80%;
  }

  .speaking {
    width: 100%;
    font-size: 100%;
  }

  .cv {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) {
  .title {
    padding: 0%;
    font-size: 100%;
    width: 100%;
    background-size: 100%;
  }

  h1 {
    font-size: 100%;
    width: 100%;
    padding-bottom: 12%;
  }

  h2 {
    font-size: 100%;
  }

  h3 {
    font-size: 50%;
    word-spacing: 30px;
    padding-top: 0%;
    padding-bottom: 10%;
  }

  h4 {
    padding-top: 10%;
    font-size: 100%;
  }

  p {
    font-size: 100%;
  }

  a {
    font-size: 100%;
  }

  .about {
    padding: 0%;
    font-size: 100%;
    width: 100%;
  }

  .skills {
    display: block;
    width: 100vw;
    text-align: center;
  }

  .coding {
    width: 100%;
    font-size: 100%;
  }

  .speaking {
    width: 100%;
    font-size: 100%;
  }

  progress {
    accent-color: #a54657;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    width: 80%;
  }

  .cv {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    padding: 0%;
    font-size: 100%;
    width: 100%;
    background-size: 100%;
  }

  h1 {
    width: 100%;
    padding-bottom: 10%;
    font-size: 48px;
  }

  h2 {
    font-size: 100%;
  }

  h3 {
    font-size: 100%;
    word-spacing: 45px;
    padding-top: 0%;
    padding-bottom: 6%;
  }

  h4 {
    padding-top: 10%;
    font-size: 100%;
  }

  p {
    font-size: 100%;
  }

  a {
    font-size: 135%;
  }

  .about {
    padding: 0%;
    font-size: 100%;
    width: 100%;
  }

  .skills {
    display: block;
    width: 100vw;
    text-align: center;
  }

  .coding {
    width: 100%;
    font-size: 100%;
  }

  .speaking {
    width: 100%;
    font-size: 100%;
  }

  progress {
    accent-color: #a54657;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    width: 80%;
  }

  .cv {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    padding: 0%;
    font-size: 100%;
    width: 100%;
    background-size: 100%;
  }

  h1 {
    width: 100%;
    padding-bottom: 10%;
    font-size: 62px;
  }

  h2 {
    font-size: 100%;
  }

  h3 {
    font-size: 100%;
    word-spacing: 50px;
    padding-top: 5%;
    padding-bottom: 6%;
  }

  h4 {
    padding-top: 10%;
    font-size: 100%;
  }

  p {
    font-size: 100%;
  }

  a {
    font-size: 135%;
  }

  .about {
    padding: 0%;
    font-size: 100%;
    width: 100%;
  }

  .skills {
    display: flex;
    width: 98.5vw;
    text-align: center;
  }

  .coding {
    max-width: 50%;
    font-size: 100%;
  }

  .speaking {
    max-width: 50%;
    font-size: 100%;
  }

  progress {
    accent-color: #a54657;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    width: 80%;
  }

  .cv {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    padding: 0%;
    font-size: 100%;
    width: 100%;
    background-size: 100%;
  }

  h1 {
    width: 100%;
    padding-bottom: 5%;
    font-size: 100px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
    word-spacing: 70px;
    padding-top: 5%;
    padding-bottom: 6%;
  }

  h4 {
    padding-top: 10%;
    font-size: 32px;
  }

  p {
    font-size: 100%;
  }

  a {
    font-size: 40px;
  }

  .about {
    padding: 0%;
    font-size: 100%;
    width: 100%;
  }

  .skills {
    display: flex;
    width: 98.5vw;
    text-align: center;
  }

  .coding {
    width: 50vw;
    font-size: 100%;
  }

  .speaking {
    width: 50vw;
    font-size: 100%;
  }

  progress {
    accent-color: #a54657;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    width: 80%;
  }

  .cv {
    width: 80%;
  }
}
